.js-item {
  margin: 50px 0;
}

.js-item .js-item-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.js-item .js-item-main > img {
  width: 30%;
  max-width: 230px;
}

.js-item .js-item-text > h2 {
  text-align: left;
}

.js-item .thumb-img > p {
  margin-bottom: 20px;
  text-align: center;
}

.js-item .thumb-img .box {
  display: inline-block;
  width: 60px;
  cursor: pointer;
  border: solid 1px #ccc;
  padding: 12px 10px;
}

.js-item .thumb-img .box > img {
  max-width: 100%;
}

.js-item .thumb-img {
  text-align: center;
}
