body {
  margin: 0;
  padding: 0;
  border: none;
}

.wrapper {
  font-size: 24px;
  background-image: url(../images/origin/island02_or.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 94px;
  letter-spacing: 5px;
  color: white;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 620px;
}

.js-contents {
  background-color: white;
  padding: 60px 0;
}

.js-contents_none {
  padding: 60px 0;
}

.js-contents_none > h2 {
  color: white;
}

.js-read-w > p, .js-read-b > p {
  color: white;
  margin-bottom: 10px;
}

.js-read-w > p:last-child, .js-read-b > p:last-child {
  margin-bottom: 0;
}

.js-read-b > p {
  color: #333333;
}

.js-read-w, .js-read-b {
  width: 600px;
  margin: 0 auto;
}

.js-read .js-lead {
  max-width: 600px;
  margin: 0 auto 20px;
  text-align: center;
  line-height: 1.4;
}

.intro-button {
  border-radius: 100%;
  border: none;
  width: 100px;
  height: 100px;
}
