.js-item{
  margin: 50px 0;
  .js-item-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    > img{
      max-width: 170px;
    }
  }
  .js-item-text{
    > h2{
      text-align: left;
    }
  }
  .thumb-img{
    >p{
      margin-bottom: 20px;
      text-align: center;
    }
    .box{
      display: inline-block;
      width: 60px;
      cursor: pointer;
      border: solid 1px #ccc;
      padding: 12px 10px;
      > img{
        max-width: 100%;
      }
    }
  }
  .thumb-img{
    text-align: center;
  }
}